fastapi
uvicorn
python-dotenv
requests
llama-index-core
llama-index-embeddings-huggingface
llama-index-readers-file
sentence-transformers
protobuf
python-multipart
pypdf
pytesseract
pdf2image
SpeechRecognition
pydub